%nav.navbar.navbar-expand-md.navbar-light.bg-light
  = link_to "HOME", root_path
  %a.navbar-brand.ml-3
    = project.name
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = "Member(#{project.users.count})"
        - project.users.each do |user|
          = user.name

    = search_form_for @q, url: search_project_events_path(project), class: "form-inline my-2 my-lg-0" do |f|
      = link_to "TODO", edit_project_todos_path(project), class: "btn btn-outline-info mr-2"
      = f.text_field :keywords, required: false, value: params.dig(:q, :keywords), placeholder: "キーワード検索", class: "form-control mr-sm-2"
      = f.button :search, class: "btn btn-outline-success my-2 my-sm-0"
