%nav.navbar.navbar-expand-md.navbar-light.bg-light
  = link_to "HOME", root_path
  %a.navbar-brand.ml-3
    = project.name
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = "Member(#{project.users.count})"
        - project.users.each do |user|
          = user.name
    = form_tag search_project_events_path(project), method: :get, class: "form-inline my-2 my-lg-0" do
      = link_to "TODO", edit_project_todos_path(project), class: "btn btn-outline-info mr-2"
      = text_field_tag :keyword, "", class: "form-control mr-sm-2", placeholder: "Search"
      = submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0"
