= render 'share/navbar', project: @project

.container.mt-3
  .row
    .col
      %h3
        検索結果
    .col
      = link_to "カレンダーに戻る", project_events_path(@project), class: 'btn btn-outline-secondary float-right'
  .row
    .col
      = "件数: #{@events.count}"

  .row
    .col
      = render @events
