.row.mx-auto.mt-3
  %ul.col-md-3
    %li.mb-2
      = current_user.name
    %li.mb-2
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'text-danger'

  %ul.col-md-7
    %li.row.pt-1.pb-1.border-bottom
      .col-md-9
        プロジェクト一覧
      .col-md-3
        = link_to "プロジェクト作成", new_project_path, class: 'btn-sm btn-primary'
    - current_user.project_users.each do |project_user|
      %li.row.pt-1.pb-1.border-bottom
        .col-md-9.my-auto
          = link_to project_events_path(project_user.project) do
            .row
              .col-md-6.text-body
                = project_user.project.name
              .col-md-6.text-info
                - if project_user.project.events.where('created_at > ?', project_user.visit_time).count == 0
                  新しい予定はありません
                - else
                  = "#{project_user.project.events.where('created_at > ?', project_user.visit_time).count}件の新しい予定があります"
        .col-md-3.my-auto.float-right
          - if project_user.project.owner_id == current_user.id
            = link_to "編集", edit_project_path(project_user.project), class: 'btn-sm btn-secondary'
            = link_to "削除", project_path(project_user.project), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn-sm btn-danger ml-1'
